body {
    font-family: 'futura';
    margin: 10;
    text-align: center;
    color: ivory;
    
}

#banner {
    background-color: rgb(42, 163, 42);
    margin: 20px;

}

h1 {
    color: rgb(42, 163, 42);
    background-position: center;
    margin: 20px;
    text-align-last: center;
}

p {
    font-family: sans-serif;
    margin: 40px;
}

.section svg {
    border: 1px solid rgb(42, 163, 42);
    flex: 2;
    height: 400px;
    width: 1000px;
    margin: 20px;
}